<div class="container">
  <div class="upperData">
    <img src="../assets/cold2.jpg" *ngIf="14<15">
    <img src="../assets/hot2.jpg" *ngIf="14>=15">
  
    <div class="weatherData">
      <div class="location">Nuwara Eliya</div>
      <div class="temperature">{{14.00 | number:'1.0-0'}}°C</div>
    </div>

  </div>

  <div class="lowerData">
    <div class="moreInformation">
      More Information
    </div>

    <div class="moreInfoContainer">

      <div class="infoblock1">
        <div class="block1label">
          <img src="../assets/temp1.png" width="35px" height="35px">
          <span>Min</span>
        </div>
        <div class="block1value">
          10°C
        </div>
      </div>

    </div>



  </div>


</div>



<router-outlet></router-outlet>